.home{
    .home__banner{
        height: 28rem;
        background-image: url("../assets/img/home/fondoGato.png");
        background-size: cover;
        @include flex-direction-justificar-alinear(column,center,start);
        .home__banner__h1{
            font-weight: map-get($font-weight, bold);
        }
        .home__banner__h2{
            font-weight: map-get($font-weight, regular);
        }
    }
    .home__donaciones{
        .home__donaciones__h2{
            font-weight: map-get($font-weight, bold);
        }
        .home__donaciones__conjunto__individual{
            width: 18rem;
            height: 20rem;
            white-space: pre-line;
            @include flex-direction-justificar-alinear(column,center,center);
        }
    }
    .home__testimonios{
        .home__testimonios__h2{
            font-weight: map-get($font-weight, bold);
        }
        .home__testimonios__conjunto{
            .home__testimonios__conjunto__texto{
                @include flex-direction-justificar-alinear(column,center,start);
                .home__testimonios__conjunto__texto__h3{
                    font-weight: map-get($font-weight, regular);
                }
                .home__testimonios__conjunto__texto__h4{
                    font-weight: map-get($font-weight, bold);
                }
                .home__testimonios__conjunto__texto__p{
                    font-weight: map-get($font-weight, regular);
                }
            }
        }
    }
    .home__video{
        .home__video__divVideo{
            @include flex-direction-justificar-alinear(row,center,center);
        } 
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    
    .home{
        .home__banner{
            height: 25rem;
            background-image: url("../assets/img/home/fondoGato_mobile.png");
            .home__banner__h1{
                font-size: $font-size-mobile-h1;
                white-space: pre-line;
            }
            
            .home__banner__h2{
                white-space: pre-line;
            }
        }
        .home__video__h2{
            white-space: pre-line;
        }
    }
}