$font-family-principal: 'Outfit', sans-serif;

$font-size-desktop-body1: 1.125rem;

$font-size-mobile-h1: 3rem;

$border-radius-principal: 1rem;


$font-weight:(
    regular: 200,
    bold: 300,
    extrabold: 400,
);



$color:(
    negro: #181818,
    blanco: #FFFFFF,
    rosa-mas-oscuro: #DA8E9E,
    rosa-cien: #ECBEC9,
    rosa-setenta: #F2D1D9,
    rosa-cincuenta: #F5DFE4,
    rosa-venticinco: #FAEFF1,
    rosa-quince: #FCF5F7,
);




